html { height: 100%; }

body { height: 100%; margin: 0; padding: 0 }

#map_canvas { height: 100% }

.rgArrPart1 
{
    color: #E2E2E2;
}

table 
{
    border-spacing:0; 
    border-collapse:collapse;
}